<%- include("header") -%>

<h2>This is the about page</h2>

<p>the tasks that you have in your mind to complete in upcoming days and organized it here in a very simple manner</p>

<%- include("footer") -%>
